/* Patrones globales del CSS */


/* Tipografía de títulos: philosopher   */
h1,h2,h3,a,span button {font-family: 'Philosopher', sans-serif;}




/* tipografía de párrafos: Arimo */
p, strong, em, div {font-family: 'Arimo', sans-serif;}

/* Quitar margen de body */
body { margin: 0 auto !important;}

/* Quitar margen en títulos y párrafos */
h1, h2, h3, h4, h5, h6, p, figure { margin: 0; }

/* Confirmar display: block a elementos de estructura HTML5 */
header, aside, main, footer, section, article, figure, nav, figcaption {display:block}

/* Configuración del estilo propio */

/* Componente aside : menú responsive */

aside#menu-responsive { width:290px;
    height: 100%;
    display: none;
    margin:0;
    float: none;
    position:fixed;
    top: :0;
    right:-290px;
    z-index:99998;
    background:  #F2EBE0 }

aside#menu-responsive a#abrir {width: 35px;
height:auto;
display: block;
margin: 0;
float:none;
position:absolute;
top:20px;
left:-35px;
z-index: 1;
color: #000;
background:#fff;
border-radius: 0 3px 3px 0;
font-size:1.25em;
line-height: 1em;
text-align: center;
padding:7.5px 0;
transition:all 0.3s ease-in ; }

aside#menu-responsive a#abrir:hover{background: #F2EBE0;transition: all 0.3s ease-in;}

aside#menu-responsive a#cerrar { width: 35px; 
    height: auto; 
    display: none; 
    margin: 0; 
    float: none; 
    position: absolute; 
    top: 20px; 
    left:-35px; 
    z-index: 2; 
    color: #000; 
    background: #F2EBE0;
    border-radius: 0 3px 3px 0; 
    font-size: 1.25em;
    line-height: 1em; 
    text-align: center; 
    padding: 7.5px 0; 
    transition: all 0.3s ease-in;  }

aside#menu-responsive a#cerrar:hover{ background:#fff; transition: all 0.3s ease-in;}

aside#menu-responsive nav{width: 58%; 
    height: auto; 
    display: block; 
    margin: 25px auto 0 auto; 
    float: none;
    position: relative; }
aside#menu-responsive nav a{
    width: 100%; 
    height: auto;
    display: block; 
    margin: 0 auto; 
    float: none; 
    position: relative; 
    font-size: 1.2em; 
    line-height: 1em;
    font-weight: 500; 
    color:#000;
    padding: 13px 0; 
    text-align: center;
    text-decoration: none;}

aside#menu-responsive nav a:hover {opacity: 0.7;transition: all 0.3s ease-in}




/* Componente header con logo a la izquierda y menú a la derecha  */

header{ width: 100%;
    height: 100px;
    margin: 0;
    float: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99998;
    background: #fff;
    }

header article{    width: 1100px;
    height: 80px;
    margin: 0 auto;
    float: none;
    position: relative;} 

header article figure{    width: 500px;
    height: 100px;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;}


header article figure a{width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    transition: all 0.3s ease-in;}


header article figure a img{width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    transition: all 0.3s ease-in}

header article figure a:hover{transition: all 0.3s ease-in}

header article nav#menu{
    width: 260px;
    height: 50px;
    display: block;
    margin: 25px 0;
    float: right;
    position: relative;
}

header article nav#menu a { 
    width: auto;
    height: auto;
    display: block;
    margin: 0 20px;
    float: left;
    position: relative;
    font-size: 1.5em;
    line-height: 1em;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.02em;
    padding: 13px 0;
    transition: all 0.3s ease-in;
}

header article nav#menu a:hover {
    opacity: 0.7;
    transition: all 0.3s ease-in;
}

/* Componente main */

main {width: 100%;
    height: auto;
    margin: 200px auto 0 auto;
    float: none;
    position: relative;
    background-color: #fffff;}


/* Main section acnp */


main section#acnp {
    width: 100%;
    height: auto;
    float: none;
    display: block;
    margin: 0 auto;
    position: relative;
}
main section#acnp article {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
}
main section#acnp article nav {
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    padding: 0  16px
}
main section#acnp article nav a {
    width:474px ;
    display: inline-block;
    float: none;
    height:392px ;
    margin: 30px;
    position: relative;
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.3s ease-in;
}
main section#acnp article nav a#analog {
    background: url('../img/contenido/analog-contenido/analog-contenido-2-homepage.jpg') no-repeat center center; background-size: 120%;
}
main section#acnp article nav a#creative {
    background: url('../img/contenido/creative-contenido/creative-contenido-5-homepage.jpg') no-repeat center center; background-size: 120%;
}
main section#acnp article nav a#nature {
    background: url('../img/contenido/nature-contenido/nature-contenido-6-homepage.jpg') no-repeat center center; background-size: 120%;
}
main section#acnp article nav a#people {
    background: url('../img/contenido/people-y-situations-contenido/people-contenido-4-homepage.jpg') no-repeat center center; background-size: 120%;
}

main section#acnp article nav a span.texto-acnp {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    letter-spacing: 0.075em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 181px 0;
    opacity: 0;
    text-shadow: 0 0 10px rgb(0 0 0 / 75%);
    transition: all 0.3s ease-in;
}
 
main section#acnp article nav a span.color-acnp {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.25);
    opacity: 0;
    transition: all 0.3s ease-in;
}

main section#acnp article nav a:hover span.texto-acnp,
main section#acnp article nav a:hover span.color-acnp {
    opacity: 1;
    transition: all 0.3s ease-in;
}
/*
main section#acnp article nav a:hover span.texto-acnp {
    top: 0;
    transition: all 0.3s ease-in;
}
*/
main section#acnp article nav a:hover span.color-acnp {
    background: #F2EBE0 rgba(255, 255, 255, 0);
    transition: all 0.3s ease-in;
}
 



/* Main section Street Portrait */

main section#acnp-2{
    width: 100%;
    height: auto;
    float: none;
    display: block;
    margin: 0 auto;
    position: relative;}

main section#acnp-2 article{
    width: 558px;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;}

main section#acnp-2 article nav{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    padding: 0px 0 0 16px;}

main section#acnp-2 article nav a{
    width:474px ;
    display: inline-block;
    float: none;
    height:392px ;
    margin: 30px;
    position: relative;
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.3s ease-in;}

    main section#acnp-2 article nav a#street {
        background: url('../img/contenido/street-portrait-contenido/street-contenido-6-homepage.jpg') no-repeat center center;
         background-size: 120%;
    }

    main section#acnp-2 article nav a span.texto-acnp-2 {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        text-align: center;
        color: #fff;
        font-size: 1.8em;
        letter-spacing: 0.075em;
        font-weight: 700;
        text-transform: uppercase;
        padding: 181px 0;
        opacity: 0;
        text-shadow: 0 0 10px rgb(0 0 0 / 50%);
        transition: all 0.3s ease-in;
    }
     
    main section#acnp-2 article nav a span.color-acnp-2 {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: rgba(255, 255, 255, 0.25);
        opacity: 0;
        transition: all 0.3s ease-in;
    }
    
    main section#acnp-2 article nav a:hover span.texto-acnp-2,
    main section#acnp-2 article nav a:hover span.color-acnp-2 {
        opacity: 1;
        transition: all 0.3s ease-in;
    }

    main section#acnp-2 article nav a:hover span.color-acnp-2 {
        background: #F2EBE0 rgba(255, 255, 255, 0);
        transition: all 0.3s ease-in;
    }

/* Main section#StreetPortrait {width: 100%;
    height: 490px;
    float: none;
    display: block;
    margin: 0 auto;
    position: relative;}

main section#StreetPortrait article {width: 558px;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;}

main section#StreetPortrait article figure {width: 540px;
    display: inline-block;
    float: none;
    height: auto;
    position: relative;} 

main section#StreetPortrait article figure img {width: 474px;
    height: 392px;
    border-radius: 19px;
    margin: 0 45px 60px;
    padding: 5px 0 10px 0;} */



/* main section#StreetPortrait article figure img:hover {opacity: 0.7;color opacity: #F2EBE0;
transition: all 0.3s ease-in;} */


/* Main section Profile */



main section#profile {
    width: 100%;
    height: auto;
    float: none;
    margin: 20px auto 100px;
    position: relative;
    display: block;
}

main section#profile article {    
    width: 900px;
    height: 350px;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #F2EBE0;
    border-radius: 19px;
}

main section#profile article figure {
    width: 290px;
    height: 290px;
    float: left;
    position: relative;
    margin: 30px 0 30px 30px;
    display:block;
}
main section#profile article figure img {
    width: 290px;
    height: 290px;
    float: none;
    position: relative;
    margin: 0 auto;
    border-radius: 19px;
}

main section#profile article div#about-info {
    width: 520px;
    height: auto;
    margin: 30px;
    float: left;
    position: relative;
    display: block;
}
main section#profile article div#about-info h1 {
    margin: 0;
    padding: 55px 0 25px 20px;
    text-align: left;
    font-size: 1.7em;
}
main section#profile article div#about-info h5 {
    margin: 0;
    padding: 0 20px 0 20px;
    text-align: justify;
    font-size: 0.9em;
    line-height: 1.55em;
}


/* Footer */

footer {width: 100%;
     height: auto;
     margin: 0;
     float: none;
     position: relative;
     background: #F2EBE0;}

footer article {
    width: 80%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    padding: 30px 0 40px;
}

footer article a {
    width: 104px;
    height: 100px;
    margin: 0 auto 35px;
    position: relative;
    float: none;
    display: block;
}

footer article a img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    float: none;
    display: block;
}

footer article nav {
    width: 90px;
    height: 25px;
    margin: 0 auto;
    float: none;
    position: relative; }

footer article  nav a {width: auto;
    height: auto;
    display: block;
    margin: 0 10px;
    float: left;
    position: relative;
    font-size: 1.5em;
    line-height: 1em;
    color: #000000;
    font-weight: 600;}
    

footer article nav a:hover{transition: all 0.3s ease-in;opacity:0.7; }


/* Responsive */


@media only screen and (max-width: 1199px){
    aside#menu-responsive {display: block}

     header article {width: 80%;height: 97px;}
     header article figure {width: 470px;}
     header article nav#menu{display:none}


     main section#acnp article {width: 80%;}
     main section#acnp article nav a { width: 47%;height: 300px;margin:1%}
    main section#acnp article nav a span.texto-acnp {text-align: center;color:#fff; 
        padding: 136px 0 131px 3px;opacity: 1;}
    main section#acnp article nav a span.color-acnp {background: rgba(255, 238, 212, 0.219) }
    

  
    main section#acnp-2 article {width: 80%;}
    main section#acnp-2 article nav a { width: 47%;height: 300px;margin:1%}
   main section#acnp-2 article nav a span.texto-acnp-2 {text-align: center;color:#fff; 
       padding: 136px 0 131px 3px;opacity: 1;}

   main section#acnp-2 article nav a span.color-acnp-2 {background: rgba(255, 238, 212, 0.219) }
}



   @media only screen and (max-width: 949px){

    header article {width: 80%;height: 90px;}
    header article figure a {width: 466px;}
    main{margin: 142px auto 0 auto ;}
    main section#profile article {    
        width: 80%;
        height: auto;
        padding: 50px 0;
    }

    main section#profile article figure {
        float: none;
        margin: 0 auto;
    }

    main section#profile article div#about-info {
        width: 100%;
        margin: 0 auto;
        float: none;
    }
    main section#profile article div#about-info h1 {
        text-align: center;
    }
    main section#profile article div#about-info h5 {
        text-align: center;
    }
}
@media only screen and (max-width: 899px){
    header article {width: 80%;height: 85%;margin: 0}
    header article figure a {width: 400px;margin: 5px 10px 10px;}

    main section#acnp article {width:80%;margin: 0 58px}
    main section#acnp article nav a {width: 100%; }
    
    main section#acnp-2 article {width:80%;margin: 0 58px}
    main section#acnp-2 article nav a {width: 100%; }
    
    }

@media only screen and (max-width: 799px){ 
    header article {width: 80%;height: 85%;margin: 0;}
    header article figure a {width: 400px;margin: 5px 10px 10px;}
 }
    
@media only screen and (max-width: 699px){ 

    header article {width: 80%;height: 75%;}
    header article figure a {width: 398px;margin: 10px 10px 10px;}

     main section#profile { margin:35px 0 97px } 
 }

@media only screen and (max-width: 599px){ 


    header article {width: 80%;height: 70%;margin:0}
    header article figure a {width: 394px;margin: 10px 10px 10px;}

    main section#acnp article {width:80%;margin: 0 40px}
    main section#acnp article nav a {width: 100%; }
    
    main section#acnp-2 article {width:80%;margin: 0 43px}
    main section#acnp-2 article nav a {width: 100%; }
 }
    
@media only screen and (max-width: 549px){
    header article {width: 80%;height: 65%;margin: 0;}
    header article figure a {width: 392px;margin: 10px 10px 10px;}



  }

    
@media only screen and (max-width: 499px){ 
    header {height: 85px;}
    header article {width: 80%;height: 60%;margin: 0;}
    header article figure a {width: 350px;margin: 5px 5px 0;}
   main section#profile { margin:35px 10px 97px }

} 


@media only screen and (max-width: 440px){
 }
  

@media only screen and (max-width: 399px){ 
    header {height: 80px;}
    header article {width: 80%;height: 55%;margin: 0;}
header article figure a {width: 330px;margin: 5px 5px 0}
    

   main section#acnp article {;margin: 0 22px}
   main section#acnp article nav a {width: 100%;height: 250px;margin: 2% auto} 
main section#acnp article nav a span.texto-acnp {text-align: center;color:#fff; 
   padding: 112px 0 120px 3px;opacity: 1;font-size: 1.3em;}

   main section#acnp-2 article {;margin: 0 22px}
   main section#acnp-2 article nav a {width: 100%;height: 250px;margin:2% auto} 
main section#acnp-2 article nav a span.texto-acnp-2 {text-align: center;color:#fff; 
  padding: 112px 0 120px 3px;opacity: 1;font-size: 1.3em;}


  main section#profile article {
    padding: 0 0px 10px;margin:0 28px }




  main section#profile article figure img {
    width: 230px;
    height: 230px;
    margin: 30px 29px 0;}

    main section#profile article div#about-info  {
        ;margin: 5px  0 30px}

    main section#profile article div#about-info h1{padding: 0 20px 15px }
    main section#profile article div#about-info h5
}  

 @media only screen and (max-width: 349px){
    header {height: 75px;}
    header article {width: 80%;height: 50%;margin:0 ;}
header article figure a {width: 298px;margin: 5px 5px 0;float: left;}
 }
